footer {
  background-color: #3d5577;
  width: 100%;
}

.containerFooter {
  width: 100%;
  padding: 0;
}

.textJustify {
  text-align: justify;
}

.subfooter {
  background-color: rgba(0, 0, 0, 0.2);
}

.facebook {
  background-color: #3b5998;
}

.instagram {
  background-color: #d81d74;
}

.youtube {
  background-color: #c42828;
}

.whatsapp {
  background-color: #26a826;
}

main video {
  width: 100%;
  box-shadow: 0px 4px 5px 0px #3d5577;
  -webkit-box-shadow: 0px 4px 5px 0px #3d5577;
  -moz-box-shadow: 0px 4px 5px 0px #3d5577;
}
main .texto-p::first-letter {
  color: #3d5577;
  font-weight: bold;
}

.cards-index {
  width: 100%;
  justify-content: space-evenly;
  margin-top: 7rem;
}

.card-style {
  width: 300px;
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}
.card-style:hover {
  scale: 1.1;
  transition: scale ease 1s;
}
.card-style::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 5%;
  height: 20px;
  width: 90%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}
.card-style img {
  border: 1px solid #dbdbdb;
  padding: 0;
  border-radius: 9px;
  margin-top: 12px;
  height: 250px;
  width: 275px;
}
.card-style .flip-card {
  background-color: transparent;
  height: 200px;
  width: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.card-style .flip-card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-style .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.card-style .flip-card-front, .card-style .flip-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card-style .flip-card-front {
  background-color: #bbb;
  color: black;
}
.card-style .flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.cards-productos {
  width: 100%;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 6rem;
}

.productos-main {
  background-color: gray;
  margin-top: 75px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}
.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  transform: translateY(-50%);
  color: #818181;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius="7", shadowopacity="0.0");
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #3f96cd;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #464646;
}

.info-inner {
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #252525;
}

.info-inner .p-company {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8c8c;
}

.a-size {
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: "PT Sans", sans-serif;
  color: #828282;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.cart .price {
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .add-to-cart {
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}

.card-img-style {
  height: 235px;
}

.servicios {
  width: 75%;
  margin: 5rem auto;
}
.servicios .row {
  display: flex;
  justify-content: center;
}
.servicios img {
  padding: 0;
  border: 4px double black;
  border-radius: 9px;
}
.servicios div div h4 {
  color: #3d5577;
  margin-bottom: 2rem;
  width: 100%;
}
.servicios div div p {
  line-height: 1.5;
  margin: 1rem 0 1rem 0;
}
.servicios div div ul .list-style {
  background-color: #3d5577;
  color: #ececec;
}
.servicios div div ul .list-style:hover {
  color: black;
}
.servicios div div ul li {
  transition: background-color 500ms ease;
}
.servicios div div ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.servicios div div div {
  margin-top: 2rem;
}
.servicios div div div p {
  border-left: 4px solid #3d5577;
  margin-top: 1rem;
  font-style: italic;
}

.la-empresa {
  margin-top: 5rem;
}
.la-empresa div div p {
  width: 90%;
  margin: 2rem auto 0px auto;
}
.la-empresa div div .list-style {
  background-color: #3d5577;
  color: #ececec;
}
.la-empresa div div .list-style:hover {
  color: black;
}
.la-empresa div div .listaHover {
  transition: background-color 500ms ease;
}
.la-empresa div div .listaHover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.la-empresa div div .texto-3AJ {
  text-align: left;
  margin: 1rem auto 2rem auto;
}
.la-empresa div div div img {
  width: 150px;
}
.la-empresa div div div h4 {
  color: #3d5577;
}
.la-empresa div div .misionvalores {
  color: goldenrod;
  font-weight: bold;
  font-size: 1.2rem;
}
.la-empresa div div .misionvalores-body {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.la-empresa div div .misionvalores-body img {
  width: 200px;
  height: 150px;
  margin: 2rem auto 0 auto;
}
.la-empresa div div .misionvalores-body li {
  padding: 0.5rem;
}
.la-empresa .misionvalores-container {
  width: 50%;
  margin: 2rem auto;
}
.la-empresa div .imgSocios {
  width: 150px;
}
.la-empresa .textoSocios {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}
.la-empresa .sociosEstrategicos {
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
}
.la-empresa .sociosEstrategicos h3 {
  color: goldenrod;
}
.la-empresa .sociosEstrategicos h5 {
  color: #3d5577;
}
.la-empresa .accordion-socios {
  width: 60%;
  margin: 0 auto 2rem auto;
}

.formContainer {
  padding: 2rem;
  background-color: #C0C0C0;
  box-shadow: 0px 0px 140px -31px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 0px 140px -31px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 0px 140px -31px rgba(0, 0, 0, 0.75) inset;
}

.mainContacto {
  margin-top: 75px;
  width: 100%;
}
.mainContacto h3 {
  margin: 20px auto 1rem auto;
  color: #3d5577;
}
.mainContacto form div {
  display: flex;
  flex-direction: column;
  color: #3d5577;
}
.mainContacto form div label {
  width: 16ch;
}
.mainContacto form div input {
  margin: 1rem 0rem;
  display: flex;
  border: none;
  outline: 0;
  border-radius: 5px;
  padding: 4px 8px;
  border-bottom: 2px solid #3d5577;
  transition: background-color ease 500ms;
}
.mainContacto form div input[type=checkbox] {
  width: 50%;
  display: flex;
}
.mainContacto form div input[type=submit] {
  width: 100px;
  justify-content: center;
  background-color: #3d5577;
  color: white;
}
.mainContacto form div input[type=number]::-webkit-inner-spin-button, .mainContacto form div input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mainContacto form div input:focus {
  background-color: rgb(204, 227, 235);
}
.mainContacto form div textarea {
  resize: none;
  height: 150px;
  margin: 0.5rem 0rem 1.2rem 0rem;
  padding: 4px 8px;
  outline: 0;
  border: none;
  border-left: 4px solid #3d5577;
  border-radius: 5px;
  transition: background-color ease 500ms;
}
.mainContacto form div textarea:focus {
  background-color: rgb(210, 234, 241);
}

.iframe-style {
  padding: 0;
}
.iframe-style iframe {
  height: 100%;
  width: 100%;
  margin: 0;
}

@media (max-width: 767px) {
  .iframe-style {
    height: 500px;
  }
}
/* CODE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}

.estiloBoton {
  position: -webkit-sticky;
  position: sticky;
  left: 97%;
  bottom: -20px;
  opacity: 0;
  color: #3d5577;
  transition: all 700ms ease;
  font-size: 2rem;
}
.estiloBoton:hover {
  transform: scale(1.5);
}

.estiloBoton.active {
  opacity: 1;
  bottom: 10px;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

/* NAVBAR */
nav {
  font-weight: 500;
  font-size: 1.1rem;
  background: #3d5577;
  background: linear-gradient(270deg, rgb(61, 85, 119) 10%, rgb(255, 255, 255) 40%);
  box-shadow: 0px 4px 5px 0px #3d5577;
  -webkit-box-shadow: 0px 4px 5px 0px #3d5577;
  -moz-box-shadow: 0px 4px 5px 0px #3d5577;
}
nav img {
  width: 50px;
}

.spinner-style {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
  transition: all ease-in-out 400ms;
  -webkit-clip-path: circle(0% at 0 0);
          clip-path: circle(0% at 0 0);
  width: 100%;
  height: 100vh;
  background-color: #3d5577;
}

.loading {
  -webkit-clip-path: circle(141.4% at 0 0);
          clip-path: circle(141.4% at 0 0);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #696969;
}

body::-webkit-scrollbar-thumb {
  background-color: #3d5577;
  border-radius: 5px;
  border: 1px solid white;
}/*# sourceMappingURL=estilos.css.map */