
// FOOTER

footer{
    background-color: $ColorPneumatic;
    width: 100%;
}
.containerFooter{
    width: 100%;
    padding: 0;
}
.textJustify{
    text-align: justify;
}
// SUBFOOTER & REDES

.subfooter{
    background-color: rgba(0, 0, 0, 0.2)
}
.facebook{
    background-color: #3b5998;
}
.instagram{
    background-color: #d81d74;
}
.youtube{
    background-color: #c42828;
}
.whatsapp{
    background-color: #26a826;
}