// IMPORTS

@import './variables';

// INDEX

main{ 
    video{
        width: 100%;
    }
    .texto-p::first-letter{
        color: $ColorPneumatic;
    }
}
.cards-index{
    width: 100%;
    justify-content: center;
    margin-top: 7rem;
}
.card-style{
    width: 250px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5), 20px 20px 20px $ColorPneumatic;
    &:hover{
        scale: 1.1;
        transition: scale ease 1s;
    }
}