
// SERVICIOS

.servicios{
    width: 75%;
    margin: 5rem auto;
    .row{
        display: flex;
        justify-content: center;
    }
    img{
        padding: 0;
        border: 4px double black;
        border-radius: 9px;
    }
    div{
        div{
            h4{
                color: $ColorPneumatic;
                margin-bottom: 2rem;
                width: 100%;
            }
            p{
                line-height: 1.5;
                margin: 1rem 0 1rem 0;
            }
            ul{
                .list-style{
                    background-color: $ColorPneumatic;
                    color: #ececec;
                    &:hover{
                        color: black;
                    }
                }
                li{
                    transition: background-color 500ms ease;
                    &:hover{
                        background-color: rgb(0, 0, 0, 0.2);
                    }
                }
            }
            div{
                margin-top: 2rem;
                p{
                    border-left: 4px solid $ColorPneumatic;
                    margin-top: 1rem;
                    font-style: italic;
                }
            }
        }
    }
}