// IMPORTS

@import './variables';

// SERVICIOS

.servicios{
    margin-top: 3rem;
    div{
        div{
            h4{
                color: $ColorPneumatic;
            }
            p{
                line-height: 1.5;
                margin: 1rem;
            }
            ul{
                li{
                    transition: background-color 500ms ease;
                    &:hover{
                        background-color: rgb(0, 0, 0, 0.2);
                    }
                }
            }
            div{
                padding: 2rem;
                p{
                    border-left: 4px solid $ColorPneumatic;
                    margin-top: 1rem;
                }
            }
        }
    }
}