// IMPORTS

@import './footer';
@import './index';
@import './productos';
@import './servicios';
@import './laempresa';
@import './contacto';
@import './variables';

/* CODE RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

main{
    position: relative;
}

.estiloBoton{
    position: sticky;
    left: 97%;
    bottom: -20px;
    opacity: 0;
    color: $ColorPneumatic;
    transition: all 700ms ease;
    font-size: 2rem;
    &:hover{
        transform: scale(1.5);
    }
}
.estiloBoton.active{
    opacity: 1;
    bottom: 10px;
}




/* NAVBAR */

nav{
    font-weight: 500;
    font-size: 1.1rem;
    background: $ColorPneumatic;
    background: linear-gradient(270deg, rgba(61,85,119,1) 10%, rgba(255,255,255,1) 40%);
    box-shadow: 0px 4px 5px 0px $ColorPneumatic;
    -webkit-box-shadow: 0px 4px 5px 0px $ColorPneumatic;
    -moz-box-shadow: 0px 4px 5px 0px $ColorPneumatic;
    img{
        width: 50px;
    }
}

