// IMPORTS

@import './footer';
@import './index';
@import './productos';
@import './servicios';
@import './laempresa';
@import './variables';

/* CODE RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.estiloBoton{
    position: absolute;
    color: red;
    transition: transform 500ms ease;
    font-size: 1.5rem;
    &:hover{
        transform: scale(1.5);
        border-bottom: 2px solid white;
    }
}



/* NAVBAR */

nav{
    font-weight: 500;
    font-size: 1.1rem;
    background: $ColorPneumatic;
    background: linear-gradient(270deg, rgba(61,85,119,1) 10%, rgba(255,255,255,1) 40%);
    box-shadow: 0px 4px 5px 0px $ColorPneumatic;
    -webkit-box-shadow: 0px 4px 5px 0px $ColorPneumatic;
    -moz-box-shadow: 0px 4px 5px 0px $ColorPneumatic;
    img{
        width: 50px;
    }
}

